.input-form-consultation{
    margin-bottom: 2em;
    height: 2em;
    width: 35%;
}

.form-add-consultation{

font-size: larger;
font-weight: bold;
padding-top: 7em;
padding-left: 25em;
padding-right: 31em;
}

.labels-form-consultation{
margin-right: 1em;
font-size: larger;
margin-bottom: 5em;
color: gray;
font-weight: bold;
}

.form-button-consultation{
width: 7em;
height: 3em;
margin-right: 2em;

}

.labels-form-consultation{
color: black;
font-family: Verdana, Geneva, Tahoma, sans-serif;    
font-size: large;
}

.file-input{

    width:20em;
    height: 3em;
}