.form-icon{
    float: right;
    
}
.form-profile{    
    
    margin-right: 10em;
    margin-top: 2em;
    padding: 1em 1em 1em 1em;
    width: 400px;
    height: 550px;
    overflow: visible;    
    overflow: auto;
    border-style: ridge;
    left: 40%;
    position: absolute;
    top : 170px; 
}

.form-Labels{
    color:#607D8B;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;

}
.form-text{
    width: 17em;
    height: 2.5em;    
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    
}
.form-num{
    width: 17em;
    height: 2.5em;    
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;

}
.form-date{
    width: 17em;
    height: 2.5em;    
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
}
.form-select{
        
    width: 17em;
    height: 2.5em;    
    padding: 5px 5px;
    margin: 5px 0;
    box-sizing: border-box;
}
.form-button{
    margin-left: 3.5em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    width: 30%;
    height: 1cm;
    border-radius: 1cm;
    background-color:#607D8B;
    color: white;
    padding: 3px 3px;
    text-decoration: none;
    cursor: pointer;
}
.form-cancel{
    width: 35%;
    height: 1.1cm;
    background-color:#607D8B;
    color: white;
    cursor: pointer;
    border-radius: 1cm;
}